.thumb {
    display: inline-block;
    position: relative;
}

.photo-zoom-frame {
    width: 100%;
    max-height: 400px;
    margin:0;
    padding: 0;
    vertical-align: center;
    overflow: hidden;

    display: inline-block;
    position: relative;

    background-color: #000;
}

.photo-zoom {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
}

.photo-meta {
    display: block;
    position: relative;
    width: 100%;

    top: -5px;
    left: 0;

    background-color: #000;
    color: #fff;
}
.photo-meta-inf {
    display: inline-block;
    vertical-align: middle;
}
.photo-meta-inf.photo-comment {
    margin-left: 50%;
}
.photo-meta-inf.icon {
    width: 30px;
}

.thumb-meta {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.thumb-meta-inf {
    display: inline-block;
    vertical-align: middle;
    text-shadow: 1px 1px 2px #000;
}
.thumb-meta-inf.photo-comment {
    margin-right: 3px;
    font-size: x-small;
    color: #fff;
}
.thumb-meta-inf.icon {
    width: 25px;
}
.thumb-meta-inf.icon:hover {
    cursor: pointer;
}

.page-navigator-left, .page-navigator-right {
    display: block;
    z-index: 5;
    width: 40%;
    height: 400px;
    position: absolute;
}

.icon-page-navigator-left, .icon-page-navigator-right {
    position: absolute;
    z-index: 5;
    width: 30px;
    top: 200px;
}

.page-navigator-left {
    left: 0px;
}

.page-navigator-right {
    right: 0px;
}

.icon-page-navigator-left {
    left: 10px;
}

.icon-page-navigator-right {
    right: 10px;
}

.button-zoom {
    margin: 30px 5px 0px 5px;
}

.button-scroll {
    margin: 50px 0 50px 0;
}

@media only screen and (min-width : 480px) {
    .photo-zoom-frame {
        height: 300px;
    }
    .photo-zoom {
        width: auto;
        height: 100%;
    }
    .icon-page-navigator-left, .icon-page-navigator-right {
        top: 150px;
    }
    .photo-meta-inf.photo-comment {
        margin-left: 30%;
    }
}

