<% include header %>

  </head>

  <body>

    <div id="title-frame-min" class="center color-main shadow"></div>

    <div class="main">

      <form id="login-form" class="pure-form pure-form-stacked sign-up-form" action="/auth/login" method="post">
        <legend class="sign-up-title">ログイン情報入力</legend>

        <p id="login-warn" hidden></p>
        <label for="email">Email</label>
        <input type="email" name="email" id="login-email" class="sign-up-input" placeholder="メールアドレス(必須)" autofocus />

        <label for="password">Password</label>
        <input type="password" name="password" id="login-password" class="sign-up-input" placeholder="パスワード(必須)" />

        <input type="submit" value="ログイン" id="login-button" class="sign-up-button" />
      </form>

    </div>

    <script type="text/javascript" src="/js/login.js"></script>

  </body>

</html>
